<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Starter Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-pg-collapsed>
            <div class="container" data-pg-collapsed>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Chroma Automation Suite</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/AboutPage">About</a>
                        </li>
                        <li>
                            <a href="/ContactPage">Contact</a>
                        </li>
                    </ul>
                    {% if not session.logged_in %}
                    <form action="/sign-in" method="post" class="navbar-form navbar-right" role="form">
                        <input type="submit" class="btn" value="Sign In With Reddit">
                    </form>
                    {% else %}
                    <form action="/sign-out" method="post" class="navbar-form navbar-right" role="form">
                        <input type="submit" class="btn" value="Sign Out">
                    </form>
                    {% endif %}
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="starter-template">
                <h1>Chroma Automation Suite</h1>
                <p class="lead">Welcome to the new Chroma Automation Suite. Created and curated by /u/Eliminioa, the CAS strives to make Chroma a more efficient place by automating some tasks. Currently the Chroma Automation Suite is on version: {{ version }}</p>
                {% if not session.logged_in %}
                <p class="lead">Please sign in with your Reddit account:</p>
                <form action="/sign-in" method="post" class="navbar-form navbar-right" role="form">
                    <input type="submit" class="btn" value="Sign In With Reddit">
                </form>
                {%  endif %}
            </div>
        </div>
        {% if session.logged_in and session.usertype > 0 %}
        <h2 align="center" style="display: block;">Welcome, {% if session.side == 1 %}Periwinkle {% else %} Orangered {% endif %} Commander {{ session.username }}. Chroma Automation Suite is {{ session.status }}</h2>
        <hr style="display: block;">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> {# Alert Services #}
                <h3>ALERT SERVICES</h3>
                <form action="/send_message" method="GET" name="Send_Message_Form">
                    <h4>Subject Line:</h4>
                    <input type="text" name="subject">
                    <h4>Message Content:</h4>
                    <textarea name="content" placeholder="Write the body of the message here!" rows="15" cols="45"></textarea>
                    <h4>Recipients:</h4>
                    <select>
                        {% for group in groups.keys() %}
                        <option value="{{ group }}">{{ group }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Send" class="btn">
                </form>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>LIST MANAGER FOR LIST {{ listname }} with {{ listview|length }} players</h3>
                <div class="well" style="overflow: auto; height:250px">
                    {% for user in listview %}
                    <a href="/?listview={{ listname }}&remove={{ user }}">{{ user }}</a>,
                    {% endfor %}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <form>
                        <label for="list_chooser">Choose list:</label>
                        <select onchange="window.location=this.value" name="list_chooser">
                            <option selected value="/">Choose List</option>
                            {% for group in groups.keys() %}
                            <option value="/?listview={{ group }}">{{ group }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <form action="/">
                        <label for="new_list_name_input">New list:</label>
                        <input type="text" name="new_name" placeholder="Name of list">
                        <br><br><input type="submit" class="btn" value="Create">
                    </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label for="players">Add a user to the list:</label>
                    <select id="players" onchange="window.location.href=this.value">
                        <option value="/" selected>Choose Player</option>
                        {% for player in majors %}
                        <option value="/?listview={{ listname }}&add={{ player }}">{{ player }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-top: 15px; padding-bottom: 15px;">
                <h3 align="center">ADMINISTRATION PANEL</h3>
                <form name="auth_bot_form" action="/auth_bot" method="get">
                    <label for="bot_name">Username of Bot to Authorize:</label>
                    <input type="text" name="bot_name" placeholder="Name of bot to authorize">
                    <label for="bot_side">Bot Side:</label>
                    <input type="radio" name="bot_side" value=1 checked>Periwinkle
                    <input type="radio" name="bot_side" value=0>Orangered
                    <input type="submit" value="Authorize">
                </form>
                <form name="run_bot_form" action="/run_bot" method="get">
                    <input type="submit" value="Run Bots">
                </form>
                <form name="reset_bot_form" action="/reset_bots" method="get">
                    <input type="submit" value="Reset Bots">
                </form>
            </div>
        </div>
        {% endif %}
    </body>
</html>
